html, body, #root {
  display:flex;
  height: 100%;
}
body {
  background-color: #2f2f2c;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  color: #ddd9ce;
  font-size: 1.2em;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.App__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.BookmarksList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: .5em;
  gap: .5em;
}
.BookmarksList__list {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.BookmarkItem {
  display: flex;
  border: 2px solid #59634c;
  border-radius: .25em;
  position: relative;
  overflow: hidden;
}
.BookmarkItem__link {
  flex: 1;
  color: #ddd9ce;
  padding: .25em;
  background-color: #2f2f2c;
  padding-left: 2em;
}
.BookmarkItem__icon {
  position: absolute;
  font-size: 2em;
  transform-origin: top right;
  left: .4em;
  transform: rotateZ(21deg);
}

.Pagination {
  display: flex;
  gap: .5em;
  font-size: 1.5em;
  border-top: 2px solid #59634c;
  padding-top: .25em;
}
.Pagination__current {
  flex: 1;
  text-align: center;
}
.Pagination__button {
  background-color: #2f2f2c;
  color: #e9ad5a;
  border: 2px solid #e9ad5a;
  border-radius: .25em;
  padding: .25em;
  cursor: pointer;
  width: 2.5em
}
.Pagination__button:hover {
  color: #ddd9ce;
  border: 2px solid #ddd9ce;
}
.Pagination__button:disabled {
  color: rgba(233, 173, 90, .5);
  border: 2px solid rgba(233, 173, 90, .5);
  cursor: default;
}

.Loading {
  margin: auto;
  font-size: 3em;
}

.Header {
  position: relative;
}

.UserButton {
  position: absolute;
  top: .5em;
  right: 0;
  border: 2px solid #e9ad5a;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
}
.UserButton__avatar {
  margin: auto;
}
.UserButton__icon {
  margin: auto;
  font-size: 1.5em;
  color: #ddd9ce;
}

.Footer {
  background: transparent;
  border: 2px solid #e9ad5a;
  border-radius: .25em;
  color: #e9ad5a;
  cursor: pointer;
  margin: .5em 0 0;
  font-family: inherit;
  font-size: 1em;
}
